/*DO NOT TOUCH THE RESET*/
:root{
--display-typo:'Josefin Sans', sans-serif;
--par-typo: 'Montserrat', sans-serif;


}



html {
  font-size: 62.5%;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */

ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */

body,
h1,
h2,
h3,
h4,
p,
ul[class]
ol[class]
li
figure,
figcaption,
blockquote,
dl,
dd{
  margin: 0;
}

body {
box-sizing: border-box;
text-rendering: optimizeSpeed;
line-height: 1.5;
}

body::-webkit-scrollbar {
  display: none;
}

.typo-paragraph{
 font-weight: 400;
 margin-top: 28px;
 font-family: var(--par-typo);
 font-size: 16px;
}

.typo-title{
   font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    font-weight: 600;
}