// VARIABLES

$color-text-blue: #066d92;

$font-primary: "Josefin Sans", sans-serif;

$font-size-primary: clamp(21px, 1.3vw, 33px); // 25px
$font-size-body: clamp(14px, 0.93vw, 25px); // 18px
$line-height: clamp(23px, 1.66vw, 43px);
$padding-button-Blue: clamp(12px, 0.9375vw, 24px) 0;

// MIXINS

@mixin respond($breakpoint) {
  @if $breakpoint == tab-port {
      @media (max-width: 768px) { @content }; 
  }
  @if $breakpoint == tab-land {
      @media (max-width: 1280px) { @content }; 
  }
}

@mixin flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
